<?xml version="1.0" ?>
<model>
    <name>lalcktur_paneles</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Francisco grisolia</name>
        <email>felotiko@hotmail.com</email>
    </author>
    <description>paneles de estacion lalcktur</description>
</model>
