<?xml version="1.0"?>

<launch>

  <arg name="world"         default="simple_plant"/> 
  <env name="GAZEBO_MODEL_PATH" value="$(find ugv_simulator)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find ugv_simulator)/models"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find ugv_simulator)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ugv_simulator)/worlds/$(arg world).world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
  </include>
  <arg name="xS" default="0"/>
  <arg name="yS" default="0"/>
  <arg name="zS" default="0.3"/>
  <arg name="rollS" default="0"/>
  <arg name="pitchS" default="0"/>
  <arg name="yawS" default="0"/>
    <node name="spawn_x1" pkg="gazebo_ros" type="spawn_model" args="-file $(find ugv_simulator)/models/x1/x1.sdf -sdf -model x1 
    -x $(arg xS) -y $(arg yS) -z $(arg zS) 
    -R $(arg rollS) -P $(arg pitchS) -Y $(arg yawS)" output="screen" />
</launch>
