<?xml version="1.0" ?>
<model>
    <name>lalcktur_base</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Francisco Grisolia J.</name>
        <email>felotiko@hotmail.com</email>
    </author>
    <description>terreno planta lalcktur</description>
</model>
